<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-router.js"></script>
    <style>
        body {
            margin: 0;
        }

        h1 {
            margin: 0;
        }
    </style>
</head>
<style>
    .header {
        height: 80px;
        background-color: orange;
    }

    .left {
        background-color: lightblue;
    }

    .main {
        background-color: lightpink;
    }

    .container {
        display: flex;
    }
</style>

<body>
    <div id="app">

        <router-view></router-view>
        <div class="container">
            <router-view name="left"></router-view>
            <router-view name="main">

            </router-view>
        </div>
        <sontemp v-bind:parentmsg="msg" @func="getdataFromSon"></sontemp>

        <div>
            <input type="text" v-model="firstname"> +
            <input type="text" v-model="midname"> +
            <input type="text" v-model="lastname"> =
            <input type="text" v-model="fullname">

        </div>

        <div>
            <input type="text" v-model="inputValue">
            <input type="botton" value="嗯" @click="jisuan">
            <div>{{inputValue}}</div>
        </div>
        <div>packge</div>
    </div>

    <template id="tempheader">
        <div class="header">
            <h1>header头部区域</h1>
        </div>
    </template>
    <template id="templeft">
        <div class="left">
            <h1>left侧边栏区域</h1>
        </div>
    </template>
    <template id="mainbox">
        <div class="main">
            <h1>mainbox主体区域</h1>
        </div>
    </template>
    <template id="sontemplate">
        <div class="children">
            <h1>子组建{{parentmsg}}</h1>
            <input type="button" value="向父组件传递消息" @click="sendMSG">

        </div>
    </template>

</body>

</html>
<script>
    var tempheader = {
        template: '#tempheader',
        data() {
            return {
                msg: ''
            }
        },
        created() {
            // 组件的生命周期🐶
            //this.$route.query.id
            //this.$route.params.id
        },
    }
    var templeft = {
        template: '#templeft',
    }
    var mainbox = {
        template: '#mainbox',
        props: ['parentmsg']
    }
    var sontemp = {
        template: '#sontemplate',
        props: ['parentmsg'],
        data() {
            return {
                msg: '这是子组件的内容'
            }
        },
        methods: {
            sendMSG() {
                this.$emit("func", this.msg)
            }
        },
    }
    var router = new VueRouter({
        routes: [
            {
                path: '/', components: {
                    'default': tempheader,
                    'left': templeft,
                    'main': mainbox
                }
            },

        ]
    })


    var vm = new Vue({
        el: '#app',
        data: {
            msg: '这是父组件中的内容',
            firstname: '',
            midname: '',
            lastname: '',
            inputValue: '',
            inputValue: ''
        },
        methods: {},
        router: router,
        components: {
            sontemp
        },
        // watch: {
        //     "firstname": function (newVal, oldVal) {
        //         this.fullname = newVal + "-" + this.lastname
        //     },
        //     "lastname": function (newVal, oldVal) {
        //         this.fullname = this.firstname + "-" + newVal
        //     }
        // },
        computed: {
            "fullname": function () {
                // 计算属性 所用到的任何值发生变化 都会触发 求值结果会被缓存起来方便之后用到
                return this.firstname + "-" + this.midname + '-' + this.lastname
            }
        },
        mounted() {


        },
        methods: {
            getdataFromSon(data) {
                this.msgFromSon = data
                console.log(this.msgFromSon)
            },
            jisuan() {
                var str = this.inputValue + '';
                var s = str.substring(4, str.indexOf(".") + 4)
                console.log(s)
            }

        }
    });

</script>